<section class="page-header">
  <img src="{{ site.baseurl }}/media/logo-ikdata.png" alt="Ik-Data Logo" />
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <div class="btns">
    <a class="btn btn-drk" href="javascript:void(0);"><i class="icon-drk fa fa-toggle-off"></i> Modo oscuro</a>
    <a href="{{ site.baseurl }}/" class="btn">Sobre Ik-Data</a>
    <a href="{{ site.baseurl }}/doc" class="btn">Manual</a>
    <a href="{{ site.baseurl }}/project_documentation/mti" class="btn">MTI</a>
    <div class="btn dropdown">Descarga
      <i class="fa fa-caret-down"></i>
      <div class="dropdown-content">
        <a href="{{ site.baseurl }}/SetUp-Guides/GUI_SetUp">Interfaz gráfica Windows</a>
        <a href="{{ site.baseurl }}/SetUp-Guides/Command-Line_SetUp">Línea de comandos Windows</a>
        <a href="{{ site.baseurl }}/SetUp-Guides/Linux_SetUp">Linux</a>
      </div>
    </div>
  </div>
</section>